$IDENTITY_COLOR: #71C55A; //identity color

/* light identity color */
$IDENTITY_COLORL: #0A9E01;

/* red based on harmony rule with identity color */
$IDENTITY_RED: #7A3523;

$BACKGROUND_MAIN: #f2f2f2;
$BACKGROUND_SUB: #fdfdfd;

$WHITE: #fff;
$GRAYFC: #fcfcfc;
$GRAYF8: #f8f8f8;
$GRAYF4: #f4f4f4;
$GRAYEE: #eee;
$GRAYE6: #e6e6e6;
$GRAYDD: #ddd;
$GRAYCC: #ccc;
$GRAYBB: #bbb;
$GRAYAA: #aaa;
$GRAY99: #999;
$GRAY88: #888;
$GRAY77: #777;
$GRAY66: #666;
$GRAY55: #555;
$GRAY44: #444;
$TEXTCOLOR: #333;
$GRAY33: #333;
$BLACK: #000;

$LIGHTBLUE1: #4FB0FA;
$LIGHTBLUE2: #3E9AF7;

$LIGHTORANGE1: #FF6344;
$LIGHTORANGE2: #FF5B33;

$RED1: #C63A00;
$RED2: #E54500;

$MAINFONT: #464646;