/* dashboard */
$HOME_CONTAINER_Z: 2000;

/* dropdown */
$DROPDOWN_Z: 4000;

/* modal
$MODAL_Z: 10000;
*/

/* notification-message */
$NOTIFICATION_MESSAGE_Z: 12000;

/* notification-balloon */
$NOTIFICATION_BALLOON_Z: 14000;


