<div class='sidebar'>
  <i class='menu-toggle fa fa-bars'></i>
  <%= render 'layouts/identity' %>
  <span class='responsive'>
    <%= render 'sidebar/user_info' %>
    <%= render 'sidebar/mini_search' %>
    <%= render 'sidebar/menu' %>
  </span>
</div>
