<div class='menu'>
  <%= link_to paper_lists_path, class: 'button favorite-paper flat-button-identity2' do %>
    <i class="fa fa-list"></i>個人論文一覧
  <% end %>
  <%= link_to search_paper_lists_path, class: 'button search-paper-list flat-button-identity1' do %>
    <i class="fa fa-search-plus"></i>公開抄読会一覧
  <% end %>
  <%= link_to api_search_papers_path, class: 'button register-paper flat-button-identity' do %>
    <i class="fa fa-plus"></i>論文登録
  <% end %>
</div>
