@import "globals/config-loader";

/**
 * listbutton/listselector(ul等に付与する)
 */

@mixin list-base {
  display: inline-block;
  box-sizing: border-box;

  width: 100%;
  line-height: 16px;
  margin-bottom: 5px;
  padding: 4px 10px;
  border-radius: 4px;
  border: 1px solid $GRAYCC;
  background-repeat: repeat-x;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
  vertical-align: middle;

  &:active,
  &:focus,
  &:visited {
    outline: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:disabled {
    cursor: default;
  }
}

.listbutton-normal {
  @include list-base;
  width: auto;
  color: $TEXTCOLOR;
  background-color: $GRAYFC;

  &:hover {
    opacity: 0.9;
  }
  &:active {
    background-color: $GRAYF4;
  }
}

.listbutton-identity {
  @include list-base;
  width: auto;
  color: $GRAYFC;
  border: 1px solid lighten($IDENTITY_COLOR, 5);
  background-color: lighten($IDENTITY_COLOR, 10);

  &:hover {
    opacity: 0.9;
  }
  &:active {
    background-color: lighten($IDENTITY_COLOR, 5);
  }
  &:disabled {
    background-color: lighten(lighten($IDENTITY_COLOR, 10), 20);
    border: 1px solid lighten(lighten($IDENTITY_COLOR, 5), 20);
    &:hover {
      opacity: 1.0;
    }
  }
}

.listbutton-danger {
  @include list-base;
  width: auto;
  color: $GRAYFC;
  border: 1px solid lighten($IDENTITY_RED, 10);
  background-color: lighten($IDENTITY_RED, 15);

  &:hover {
    opacity: 0.9;
  }
  &:active {
    background-color: lighten($IDENTITY_RED, 10);
  }
  &:disabled {
    background-color: lighten($IDENTITY_RED, 25);
    border: 1px solid lighten($IDENTITY_RED, 20);
    &:hover {
      opacity: 1.0;
    }
  }
}

.listselector-normal {
  @include list-base;
  color: $GRAY88;
  background-color: $GRAYFC;

  &:hover {
    opacity: 0.9;
  }
  &.active {
    background-color: lighten($IDENTITY_COLOR, 10);
    color: $WHITE;
  }
}

