<h1 class='papers-title'><%= title %></h1>
<div class='papers'>
  <% if !(papers.count == 0) %>
    <%= render 'papers/papers_header' if defined?(has_header) && has_header %>
    <% papers.each do |p| %>
      <%= render 'papers/paper', paper: p, user: user %>
    <% end %>
    <div class='end-line'></div>
  <% else %>
    <p><%= (defined?(not_found) && not_found) || 'お探しの論文は見つかりませんでした' %></p>
  <% end %>
</div>
