<p><%= @resource.email %>様</p>

<p>このメールアドレスに対して、パスワードの再発行リクエストがありました。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>身に覚えのない場合は、当メールは無視していただき、ご自分でパスワードの変更をされることをおすすめします。</p>
