@import "globals/config-loader";

body {
  min-height: 100%;
  height: 100%;
  background-color: lighten($IDENTITY_COLOR, 40);
}

.app-identity {
  padding: 10px;
  a {
    color: darken($IDENTITY_COLOR, 5);
    font-size: 30px;
    font-weight: 600;
    font-family: serif;
    &:hover {
      color: lighten($IDENTITY_COLOR, 5);
      .darken {
        color: $IDENTITY_COLOR;
      }
    }
    .darken {
      color: darken($IDENTITY_COLOR, 10);
      font-size: 36px;
    }
  }
}

.interface-container {
  width: 70%;
  height: 100%;
  max-width: 1080px;
  min-width: 900px;
  margin: auto;
  .sidebar {
    width: 280px;
    min-height: 100%;
    float: left;
    box-sizing: border-box;
  }
  .content {
    min-height: 100%;
    float: left;
    padding: 10px;
  }
}
