@import "globals/config-loader";

body {
  min-height: 100%;
  height: 100%;
  background-color: #f3f0fa;
}

.app-identity {
  padding: 10px;
  a {
    color: darken($IDENTITY_COLOR, 5);
    font-size: 30px;
    font-weight: 600;
    font-family: serif;
    &:hover {
      color: lighten($IDENTITY_COLOR, 5);
      .darken {
        color: $IDENTITY_COLOR;
      }
    }
    .darken {
      color: darken($IDENTITY_COLOR, 10);
      font-size: 36px;
    }
  }
}

.interface-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: auto;
  padding-left: 240px;
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    min-height: 100%;
    box-sizing: border-box;
  }
  .content {
    min-height: 100%;
    width: 100%;
    min-width: 960px;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 100px;
  }
}

.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

.pagination {
    float: right;
    margin-right: 50px;
    border-left: 1px solid #ddd;
    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}
