@import "globals/config-loader";

.paper-list-form {
  margin: 10px;
  padding: 20px 40px;
  background-color: $WHITE;
  border: 1px solid $GRAYCC;
  border-radius: 10px;
  .form-title {
    font-size: 20px;
  }
  .title-input, .email-input {
    font-size: 14px;
    line-height: 24px;
    width: 500px;
    margin-bottom: 10px;
  }
  .remove-shared-user {
    margin-left: 10px;
  }
  .submit-btn {
    float: right;
    width: 160px;
    font-size: 14px;
    line-height: 24px;
  }
  .end-of-form {
    clear: both;
  }
}

.paper-lists-title {
  font-family: serif;
  font-size: 24px;
  color: $GRAY99;
  padding: 0 20px;
}

.paper-lists {
  padding: 20px;

  .single-paper-list {
    background-color: $WHITE;
    border-top: 1px solid $GRAYCC;
    height: 40px;
    padding: 0 10px 0 0;
    &.last {
      border-bottom: 1px solid $GRAYCC;
    }
    .icon {
      display: inline-block;
      width: 40px;
      text-align: center;
      i {
        &.fa-star {
          padding: 5px 2px 5px 8px;
          font-size: 20px;
          color: $YELLOW;
          vertical-align: middle;
        }
        &.fa-bookmark {
          padding: 5px 5px 5px 10px;
          font-size: 20px;
          color: darken($IDENTITY_COLOR, 15);
          vertical-align: middle;
        }
        &.fa-share-alt {
          padding: 5px 2px 5px 8px;
          font-size: 20px;
          color: $GRAYAA;
          vertical-align: middle;
        }
      }
    }
    .title {
      display: inline-block;
      line-height: 40px;
      vertical-align: middle;
      font-size: 14px;
      font-weight: 600;
      padding-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 200px;
    }
    .created_at, .updated_at {
      display: inline-block;
      padding-right: 20px;
    }
    .show-btn, .edit-btn, .destroy-btn {
      display: inline-block;
      float: right;
      box-sizing: border-box;
      height: 26px;
      margin: 7px 5px;
    }
  }
}

.paper-list-detail {
  background-color: $WHITE;
  .paper-list-metainfo {
    padding: 20px 40px;
    .title {
      display: inline-block;
      line-height: 40px;
      vertical-align: middle;
      font-size: 24px;
      font-weight: 600;
      padding-right: 20px;
    }
    .created-at, .updated-at {
      display: inline-block;
      padding-right: 20px;
    }
    .edit-btn, .destroy-btn {
      display: inline-block;
      float: right;
      box-sizing: border-box;
      height: 26px;
      margin: 7px 5px;
    }
    .userlist {
      .userlist-title {
        font-weight: 600;
      }
      .auth-label {
        margin-left: 20px;
        font-weight: 500;
      }
    }
  }
  .paper-list-menu {
    padding: 20px;
    text-align: center;
    .paper-search-btn, .share-btn {
      margin: 10px 20px;
    }
  }
}
