@import "globals/config-loader";

.paper-search-form {
  margin: 10px;
  padding: 20px 40px;
  background-color: $WHITE;
  border: 1px solid $GRAYCC;
  border-radius: 10px;
  .form-title {
    font-size: 18px;
  }
  form {
    margin-left: 10px;
  }
  .keyword-input, .authorname-input, .journalname-input {
    font-size: 14px;
    line-height: 24px;
  }
  .keyword-input {
    width: 500px;
  }
  .authorname-input, .journalname-input {
    width: 300px;
  }
  input[type='date'] {
    height: 24px;
  }
  .submit-btn {
    float: right;
    width: 160px;
    font-size: 14px;
    line-height: 24px;
  }
}

.papers-title {
  font-family: serif;
  font-size: 24px;
  color: $GRAY99;
  padding: 0 20px;
}

.papers {
  padding: 20px 25px;
  .attention {
    font-size: 18px;
    text-align: center;
  }
  .paper {
    background-color: $WHITE;
    border-top: 1px solid $GRAYCC;
    .summary, .papers-header {
      padding: 0 0 0 0;
      box-sizing: border-box;
      cursor: pointer;
      height: 30px;
      width: 100%;
      line-height: 30px;
      vertical-align: middle;
      &:hover {
        background-color: $GRAYEE;
      }
      &.favorited {
        background-color: lighten($YELLOW, 49);
      }
      .favorite {
        float: left;
        padding: 0 5px 0 10px;
        width: 25px;
        height: 100%;
        i {
          font-size: 18px;
          line-height: 30px;
          vertical-align: middle;
          cursor: pointer;
          &.fa-star { color: $YELLOW; }
          &.fa-star-o {
            color: $GRAYAA;
            &:hover {
              color: $GRAY66;
            }
          }
        }
      }
      .popularity {
        float: left;
        min-width: 50px;
        text-align: center;
        width: 50px;
        height: 100%;
      }
      .title, .authors, .published-date, .abstract {
        float: left;
        height: 100%;
        padding: 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .title {
        width: 300px;
        font-weight: 600;
      }
      .authors {
        width: 200px;
      }
      .published-date {
        width: 80px;
        font-weight: 600;
      }
      .abstract {
        width: 500px;
        color: $GRAY77;
      }
      .remove-paper {
        float: right;
        width: 25px;
        height: 100%;
        i {
          font-size: 18px;
          line-height: 30px;
          vertical-align: middle;
          cursor: pointer;
          &.fa-remove {
            color: darken($RED1, 5);
            &:hover {
              color: darken($RED1, 15);
            }
          }
        }
      }
    }
    .papers-header {
      cursor: default;
      &:hover {
        background-color: $WHITE;
      }
      .authors {
        font-weight: 600;
      }
      .abstract {
        width: 50px;
        font-weight: 600;
      }
      i {
        cursor: pointer;
        &.active {
          color: $RED1;
        }
        &.fa-chevron-up {
          margin-left: 5px;
        }
      }
    }
    .detail {
      padding: 20px 15%;
      position: relative;
      .close-bar {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 30px;
        cursor: pointer;
        i.fa-times {
          font-size: 20px;
          color: $GRAYAA;
          float: right;
          padding: 8px 13%;
        }
      }
      .title {
        padding: 10px 0;
        font-size: 24px;
        font-weight: 600;
        font-family: sans-serif;
      }
      .favorite {
        float: left;
        padding: 0 5px 0 0;
        i {
          font-size: 18px;
          line-height: 30px;
          vertical-align: middle;
          cursor: pointer;
          &.fa-star { color: $YELLOW; }
          &.fa-star-o {
            color: $GRAYAA;
            &:hover {
              color: $GRAY66;
            }
          }
        }
      }
      .popularity {
        display: inline-block;
        padding: 5px 5px 5px 0;
        font-size: 16px;
        font-weight: 600;
      }
      .source {
        display: inline-block;
        padding: 5px 0;
        font-size: 16px;
        color: $GRAY88;
      }
      .authors {
        font-size: 16px;
        padding: 10px 0;
      }
      .abstract {
        font-size: 14px;
        line-height: 24px;
        padding: 5px 0;
      }
      .menu {
        padding: 10px 0;
        form {
          .target-paper-list {
            font-size: 16px;
            min-width: 200px;
          }
          .add-paper-btn {
            padding: 2px 10px;
          }
        }
      }
    }
  }
  .end-line {
    border-top: 1px solid $GRAYCC;
  }
}
